# 當訊號輸入後，根據分析結果要進行的處理

In [1]:
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from xgboost import XGBRegressor
from sklearn.svm import SVR

In [2]:
from utils import xgb_model, get_data, lr_curve, eva_metric, xgb_grid_test, svm_grid_test, xgb_simple_test
from noising import sig_disturb, sig_transmittion_noise, sig_drop, plt_drop

In [3]:
save_path = '03-signal_analysis'
package_path = 'water_MLOps'

In [4]:
import os
cwd = os.getcwd().split("/")[-1]
if cwd == package_path:
    print(cwd)
    if not os.path.isdir(save_path):
#         print('create '+save_path)
        os.mkdir(save_path)
    
if cwd == save_path:
    print('ok')
    pass
else:
    os.chdir(save_path)
os.getcwd()

water_MLOps

'/home/jovyan/git/water_MLOps/03-signal_analysis'

# EDA

In [5]:
df, label = get_data('~/git/water_MLOps/Cost-B.xlsx')
print(label.head())
df.head()

0    70.0
1    70.0
2    70.0
3    71.0
4    71.0
Name: dirt, dtype: float64

            C           D  time
0   17.000000  118.000000     0
1  114.680482  171.433735     1
2  287.000000  208.000000     2
3   17.000000  118.000000     3
4  123.428571  184.785714     4

In [7]:
# 不做處理
df, label = get_data('~/git/water_MLOps/Cost-B.xlsx')

drop_label, _ = sig_drop(label, 10)
xgb_simple_test(df, label)

12

{'mse': 0.3493604175378809,
 'mae': 0.36226608276366185,
 'r2_score': 0.9945135662752155}